In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer, MissingIndicator

from functions import *

pd.set_option('display.max_columns', 100)

In [2]:
def application(df):

    # general cleaning procedures
    df = df.replace(['XNA', 'Unknown', 'not specified'], np.nan)
    # df = df[df['AMT_INCOME_TOTAL'] < 20000000] # remove a outlier 117M
    
    # NaN values for DAYS_EMPLOYED: 365.243 -> nan
    df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True) # set null value
    df['DAYS_LAST_PHONE_CHANGE'].replace(0, np.nan, inplace=True) # set null value

    # Categorical features with Binary encode (0 or 1; two categories)
    for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
        df[bin_feature], uniques = pd.factorize(df[bin_feature])
    
    # Categorical features with One-Hot encode
    df, cat_cols = one_hot_encoder(df, nan_as_category)

    # Flag_document features - count and kurtosis
    docs = [f for f in df.columns if 'FLAG_DOC' in f]
    df['DOCUMENT_COUNT'] = df[docs].copy().sum(axis=1)
    df['NEW_DOC_KURT'] = df[docs].copy().kurtosis(axis=1)

    def get_age_label(days_birth):
        """ Return the age group label (int). """
        age_years = -days_birth / 365
        if age_years < 27: return 1
        elif age_years < 40: return 2
        elif age_years < 50: return 3
        elif age_years < 65: return 4
        elif age_years < 99: return 5
        else: return 0

    # Categorical age - based on target=1 plot
    df['AGE_RANGE'] = df['DAYS_BIRTH'].apply(lambda x: get_age_label(x))

    # New features based on External sources
    df['EXT_SOURCES_PROD'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_2'] * df['EXT_SOURCE_3']
    df['EXT_SOURCES_WEIGHTED'] = df.EXT_SOURCE_1 * 2 + df.EXT_SOURCE_2 * 1 + df.EXT_SOURCE_3 * 3
    np.warnings.filterwarnings('ignore', r'All-NaN (slice|axis) encountered')

    for function_name in ['min', 'max', 'mean', 'nanmedian', 'var']:
        feature_name = 'EXT_SOURCES_{}'.format(function_name.upper())
        df[feature_name] = eval('np.{}'.format(function_name))(
            df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']], axis=1)

    # Some simple new features (percentages)
    df['DAYS_EMPLOYED_PERC'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
    df['INCOME_CREDIT_PERC'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']
    df['INCOME_PER_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']
    df['ANNUITY_INCOME_PERC'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
    df['PAYMENT_RATE'] = df['AMT_ANNUITY'] / df['AMT_CREDIT']

    # Credit ratios
    df['CREDIT_TO_GOODS_RATIO'] = df['AMT_CREDIT'] / df['AMT_GOODS_PRICE']
    
    # Income ratios
    df['INCOME_TO_EMPLOYED_RATIO'] = df['AMT_INCOME_TOTAL'] / df['DAYS_EMPLOYED']
    df['INCOME_TO_BIRTH_RATIO'] = df['AMT_INCOME_TOTAL'] / df['DAYS_BIRTH']
    
    # Time ratios
    df['ID_TO_BIRTH_RATIO'] = df['DAYS_ID_PUBLISH'] / df['DAYS_BIRTH']
    df['CAR_TO_BIRTH_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_BIRTH']
    df['CAR_TO_EMPLOYED_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_EMPLOYED']
    df['PHONE_TO_BIRTH_RATIO'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_BIRTH']

    # EXT_SOURCE_X FEATURE
    df['APPS_EXT_SOURCE_MEAN'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)
    df['APPS_EXT_SOURCE_STD'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis=1)
    df['APPS_EXT_SOURCE_STD'] = df['APPS_EXT_SOURCE_STD'].fillna(df['APPS_EXT_SOURCE_STD'].mean())
    df['APP_SCORE1_TO_BIRTH_RATIO'] = df['EXT_SOURCE_1'] / (df['DAYS_BIRTH'] / 365.25)
    df['APP_SCORE2_TO_BIRTH_RATIO'] = df['EXT_SOURCE_2'] / (df['DAYS_BIRTH'] / 365.25)
    df['APP_SCORE3_TO_BIRTH_RATIO'] = df['EXT_SOURCE_3'] / (df['DAYS_BIRTH'] / 365.25)
    df['APP_SCORE1_TO_EMPLOY_RATIO'] = df['EXT_SOURCE_1'] / (df['DAYS_EMPLOYED'] / 365.25)
    df['APP_EXT_SOURCE_2*EXT_SOURCE_3*DAYS_BIRTH'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_2'] * df['DAYS_BIRTH']
    df['APP_SCORE1_TO_FAM_CNT_RATIO'] = df['EXT_SOURCE_1'] / df['CNT_FAM_MEMBERS']
    df['APP_SCORE1_TO_GOODS_RATIO'] = df['EXT_SOURCE_1'] / df['AMT_GOODS_PRICE']
    df['APP_SCORE1_TO_CREDIT_RATIO'] = df['EXT_SOURCE_1'] / df['AMT_CREDIT']
    df['APP_SCORE1_TO_SCORE2_RATIO'] = df['EXT_SOURCE_1'] / df['EXT_SOURCE_2']
    df['APP_SCORE1_TO_SCORE3_RATIO'] = df['EXT_SOURCE_1'] / df['EXT_SOURCE_3']
    df['APP_SCORE2_TO_CREDIT_RATIO'] = df['EXT_SOURCE_2'] / df['AMT_CREDIT']
    df['APP_SCORE2_TO_REGION_RATING_RATIO'] = df['EXT_SOURCE_2'] / df['REGION_RATING_CLIENT']
    df['APP_SCORE2_TO_CITY_RATING_RATIO'] = df['EXT_SOURCE_2'] / df['REGION_RATING_CLIENT_W_CITY']
    df['APP_SCORE2_TO_POP_RATIO'] = df['EXT_SOURCE_2'] / df['REGION_POPULATION_RELATIVE']
    df['APP_SCORE2_TO_PHONE_CHANGE_RATIO'] = df['EXT_SOURCE_2'] / df['DAYS_LAST_PHONE_CHANGE']
    df['APP_EXT_SOURCE_1*EXT_SOURCE_2'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_2']
    df['APP_EXT_SOURCE_1*EXT_SOURCE_3'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_3']
    df['APP_EXT_SOURCE_1*DAYS_EMPLOYED'] = df['EXT_SOURCE_1'] * df['DAYS_EMPLOYED']
    df['APP_EXT_SOURCE_2*EXT_SOURCE_3'] = df['EXT_SOURCE_2'] * df['EXT_SOURCE_3']
    df['APP_EXT_SOURCE_2*DAYS_EMPLOYED'] = df['EXT_SOURCE_2'] * df['DAYS_EMPLOYED']
    df['APP_EXT_SOURCE_3*DAYS_EMPLOYED'] = df['EXT_SOURCE_3'] * df['DAYS_EMPLOYED']

    # AMT_INCOME_TOTAL : income
    # CNT_FAM_MEMBERS  : the number of family members
    df['APPS_GOODS_INCOME_RATIO'] = df['AMT_GOODS_PRICE'] / df['AMT_INCOME_TOTAL']
    df['APPS_CNT_FAM_INCOME_RATIO'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']
    
    # DAYS_BIRTH : Client's age in days at the time of application
    # DAYS_EMPLOYED : How many days before the application the person started current employment
    df['APPS_INCOME_EMPLOYED_RATIO'] = df['AMT_INCOME_TOTAL'] / df['DAYS_EMPLOYED']

    # other feature from better than 0.8
    df['CREDIT_TO_GOODS_RATIO_2'] = df['AMT_CREDIT'] / df['AMT_GOODS_PRICE']
    df['APP_AMT_INCOME_TOTAL_12_AMT_ANNUITY_ratio'] = df['AMT_INCOME_TOTAL'] / 12. - df['AMT_ANNUITY']
    df['APP_INCOME_TO_EMPLOYED_RATIO'] = df['AMT_INCOME_TOTAL'] / df['DAYS_EMPLOYED']
    df['APP_DAYS_LAST_PHONE_CHANGE_DAYS_EMPLOYED_ratio'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_EMPLOYED']
    df['APP_DAYS_EMPLOYED_DAYS_BIRTH_diff'] = df['DAYS_EMPLOYED'] - df['DAYS_BIRTH']

    print('"Application_Train_Test" final shape:', df.shape)
    return df

raw

In [3]:
app_train = pd.read_csv('raw-data/dseb63_application_train.csv')
app_train.drop(['Unnamed: 0'], axis=1, inplace=True)
app_train.set_index('SK_ID_CURR', inplace=True)
app_train.head(10)

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,...,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
278621,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,...,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.0100,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
139008,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
138348,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
64140,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,454500.0,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,0.035792,-16941,-1588,-4970.0,-477,NaN,1,1,1,1,1,0,Laborers,2.0,2,2,WEDNESDAY,16,0,0,0,0,0,0,Other,NaN,0.354225,0.621226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2536.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
219374,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,1530000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.003122,-18850,-449,-4597.0,-2379,8.0,1,1,1,1,0,0,Managers,2.0,3,3,MONDAY,16,0,0,0,0,1,1,Other,NaN,0.714279,0.540654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1070.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
53466,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,913500.0,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.018634,-20099,365243,-7427.0,-3514,NaN,1,0,0,1,0,0,NaN,2.0,2,2,WEDNESDAY,14,0,0,0,0,0,0,XNA,0.587334,0.205747,0.751724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
27272,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,405000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019689,-14469,-2019,-14437.0,-3992,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,THURSDAY,8,0,0,0,0,0,0,Electricity,NaN,0.746644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1673.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
218056,0,Cash loans,F,N,Y,1,112500.0,652500.0,21177.0,652500.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.022800,-10197,-679,-4427.0,-738,NaN,1,1,0,1,0,0,Core staff,3.0,2,2,SATURDAY,15,0,0,0,0,0,0,Medicine,0.319760,0.651862,0.363945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-844.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
52390,0,Cash loans,M,Y,N,1,225000.0,918468.0,28966.5,697500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.016612,-14086,-3028,-643.0,-4911,23.0,1,1,0,1,0,0,Drivers,3.0,2,2,THURSDAY,13,0,0,0,0,0,0,Self-employed,NaN,0.566907,0.770087,0.1474,0.0973,0.9806,0.7348,0.0582,0.16,0.1379,...,0.1489,0.0973,0.9806,0.7383,0.0585,0.16,0.1379,0.3333,0.3750,0.0947,0.1223,0.1422,0.0000,0.0000,reg oper account,block of flats,0.1417,Panel,No,0.0,0.0,0.0,0.0,-4.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
268198,0,Cash loans,F,N,Y,0,189000.0,773680.5,32778.0,679500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010006,-14583,-203,-615.0,-2056,NaN,1,1,0,1,0,0,Laborers,2.0,2,1,MONDAY,9,0,0,0,0,0,0,Transport: type 2,0.721940,0.642656,NaN,0.3495,0.1335,0.9985,0.9796,0.1143,0.40,0.1724,...,0.3529,0.1335,0.9985,0.9799,0.1150,0.40,0.1724,0.6667,0.7083,0.1789,0.2899,0.3842,0.0194,0.1022,reg oper account,block of flats,0.3811,Panel,No,0.0,0.0,0.0,0.0,-188.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
app_train.isnull().sum()

TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     33211
AMT_REQ_CREDIT_BUREAU_WEEK    33211
AMT_REQ_CREDIT_BUREAU_MON     33211
AMT_REQ_CREDIT_BUREAU_QRT     33211
AMT_REQ_CREDIT_BUREAU_YEAR    33211
Length: 121, dtype: int64

process

In [5]:
# idenitfy col with missing values
missing_value_cols = app_train.columns[app_train.isnull().sum() > 0].tolist()

indicator = MissingIndicator()
mask_missing_values_only = indicator.fit_transform(app_train[missing_value_cols])
new_cols = [c+'_missing_flag' for c in missing_value_cols]
mask_missing_values_only = pd.DataFrame(mask_missing_values_only, columns=new_cols, index=app_train.index)
mask_missing_values_only.shape

(246009, 67)

In [6]:
# concat the missing value indicator with the original df
app_train = pd.merge(app_train, mask_missing_values_only, left_index=True, right_index=True)
app_train.head(10)

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,...,FLOORSMIN_AVG_missing_flag,LANDAREA_AVG_missing_flag,LIVINGAPARTMENTS_AVG_missing_flag,LIVINGAREA_AVG_missing_flag,NONLIVINGAPARTMENTS_AVG_missing_flag,NONLIVINGAREA_AVG_missing_flag,APARTMENTS_MODE_missing_flag,BASEMENTAREA_MODE_missing_flag,YEARS_BEGINEXPLUATATION_MODE_missing_flag,YEARS_BUILD_MODE_missing_flag,COMMONAREA_MODE_missing_flag,ELEVATORS_MODE_missing_flag,ENTRANCES_MODE_missing_flag,FLOORSMAX_MODE_missing_flag,FLOORSMIN_MODE_missing_flag,LANDAREA_MODE_missing_flag,LIVINGAPARTMENTS_MODE_missing_flag,LIVINGAREA_MODE_missing_flag,NONLIVINGAPARTMENTS_MODE_missing_flag,NONLIVINGAREA_MODE_missing_flag,APARTMENTS_MEDI_missing_flag,BASEMENTAREA_MEDI_missing_flag,YEARS_BEGINEXPLUATATION_MEDI_missing_flag,YEARS_BUILD_MEDI_missing_flag,COMMONAREA_MEDI_missing_flag,ELEVATORS_MEDI_missing_flag,ENTRANCES_MEDI_missing_flag,FLOORSMAX_MEDI_missing_flag,FLOORSMIN_MEDI_missing_flag,LANDAREA_MEDI_missing_flag,LIVINGAPARTMENTS_MEDI_missing_flag,LIVINGAREA_MEDI_missing_flag,NONLIVINGAPARTMENTS_MEDI_missing_flag,NONLIVINGAREA_MEDI_missing_flag,FONDKAPREMONT_MODE_missing_flag,HOUSETYPE_MODE_missing_flag,TOTALAREA_MODE_missing_flag,WALLSMATERIAL_MODE_missing_flag,EMERGENCYSTATE_MODE_missing_flag,OBS_30_CNT_SOCIAL_CIRCLE_missing_flag,DEF_30_CNT_SOCIAL_CIRCLE_missing_flag,OBS_60_CNT_SOCIAL_CIRCLE_missing_flag,DEF_60_CNT_SOCIAL_CIRCLE_missing_flag,DAYS_LAST_PHONE_CHANGE_missing_flag,AMT_REQ_CREDIT_BUREAU_HOUR_missing_flag,AMT_REQ_CREDIT_BUREAU_DAY_missing_flag,AMT_REQ_CREDIT_BUREAU_WEEK_missing_flag,AMT_REQ_CREDIT_BUREAU_MON_missing_flag,AMT_REQ_CREDIT_BUREAU_QRT_missing_flag,AMT_REQ_CREDIT_BUREAU_YEAR_missing_flag
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
278621,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
139008,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,True,True,True,True,True,True
138348,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
64140,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,454500.0,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,0.035792,-16941,-1588,-4970.0,-477,NaN,1,1,1,1,1,0,Laborers,2.0,2,2,WEDNESDAY,16,0,0,0,0,0,0,Other,NaN,0.354225,0.621226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
219374,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,1530000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.003122,-18850,-449,-4597.0,-2379,8.0,1,1,1,1,0,0,Managers,2.0,3,3,MONDAY,16,0,0,0,0,1,1,Other,NaN,0.714279,0.540654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
53466,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,913500.0,Children,Pensioner,Secondary / secondary special,Married,House / apartment,0.018634,-20099,365243,-7427.0,-3514,NaN,1,0,0,1,0,0,NaN,2.0,2,2,WEDNESDAY,14,0,0,0,0,0,0,XNA,0.587334,0.205747,0.751724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
27272,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,405000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019689,-14469,-2019,-14437.0,-3992,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,THURSDAY,8,0,0,0,0,0,0,Electricity,NaN,0.746644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,True,True,True,True,True,True
218056,0,Cash loans,F,N,Y,1,112500.0,652500.0,21177.0,652500.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.022800,-10197,-679,-4427.0,-738,NaN,1,1,0,1,0,0,Core staff,3.0,2,2,SATURDAY,15,0,0,0,0,0,0,Medicine,0.319760,0.651862,0.363945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
52390,0,Cash loans,M,Y,N,1,225000.0,918468.0,28966.5,697500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.016612,-14086,-3028,-643.0,-4911,23.0,1,1,0,1,0,0,Drivers,3.0,2,2,THURSDAY,13,0,0,0,0,0,0,Self-employed,NaN,0.566907,0.770087,0.1474,0.0973,0.9806,0.7348,0.0582,0.16,0.1379,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
268198,0,Cash loans,F,N,Y,0,189000.0,773680.5,32778.0,679500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010006,-14583,-203,-615.0,-2056,NaN,1,1,0,1,0,0,Laborers,2.0,2,1,MONDAY,9,0,0,0,0,0,0,Transport: type 2,0.721940,0.642656,NaN,0.3495,0.1335,0.9985,0.9796,0.1143,0.40,0.1724,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True

In [7]:
app_train['TARGET'].isnull().sum()

0

In [8]:
app_train_clean = application(app_train)
app_train_clean.head(20)

"Application_Train_Test" final shape: (246009, 371)

,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,...,EXT_SOURCES_PROD,EXT_SOURCES_WEIGHTED,EXT_SOURCES_MIN,EXT_SOURCES_MAX,EXT_SOURCES_MEAN,EXT_SOURCES_NANMEDIAN,EXT_SOURCES_VAR,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,ANNUITY_INCOME_PERC,PAYMENT_RATE,CREDIT_TO_GOODS_RATIO,INCOME_TO_EMPLOYED_RATIO,INCOME_TO_BIRTH_RATIO,ID_TO_BIRTH_RATIO,CAR_TO_BIRTH_RATIO,CAR_TO_EMPLOYED_RATIO,PHONE_TO_BIRTH_RATIO,APPS_EXT_SOURCE_MEAN,APPS_EXT_SOURCE_STD,APP_SCORE1_TO_BIRTH_RATIO,APP_SCORE2_TO_BIRTH_RATIO,APP_SCORE3_TO_BIRTH_RATIO,APP_SCORE1_TO_EMPLOY_RATIO,APP_EXT_SOURCE_2*EXT_SOURCE_3*DAYS_BIRTH,APP_SCORE1_TO_FAM_CNT_RATIO,APP_SCORE1_TO_GOODS_RATIO,APP_SCORE1_TO_CREDIT_RATIO,APP_SCORE1_TO_SCORE2_RATIO,APP_SCORE1_TO_SCORE3_RATIO,APP_SCORE2_TO_CREDIT_RATIO,APP_SCORE2_TO_REGION_RATING_RATIO,APP_SCORE2_TO_CITY_RATING_RATIO,APP_SCORE2_TO_POP_RATIO,APP_SCORE2_TO_PHONE_CHANGE_RATIO,APP_EXT_SOURCE_1*EXT_SOURCE_2,APP_EXT_SOURCE_1*EXT_SOURCE_3,APP_EXT_SOURCE_1*DAYS_EMPLOYED,APP_EXT_SOURCE_2*EXT_SOURCE_3,APP_EXT_SOURCE_2*DAYS_EMPLOYED,APP_EXT_SOURCE_3*DAYS_EMPLOYED,APPS_GOODS_INCOME_RATIO,APPS_CNT_FAM_INCOME_RATIO,APPS_INCOME_EMPLOYED_RATIO,CREDIT_TO_GOODS_RATIO_2,APP_AMT_INCOME_TOTAL_12_AMT_ANNUITY_ratio,APP_INCOME_TO_EMPLOYED_RATIO,APP_DAYS_LAST_PHONE_CHANGE_DAYS_EMPLOYED_ratio,APP_DAYS_EMPLOYED_DAYS_BIRTH_diff
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
278621,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,-1186.0,-291,NaN,1,1,0,1,1,0,2.0,1,1,11,0,0,0,0,0,0,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,...,NaN,NaN,0.311267,0.622246,0.466757,0.466757,0.024177,0.070862,0.208736,135000.0,0.132217,0.027598,1.145199,-227.272727,-16.104981,0.017358,NaN,NaN,0.049389,0.466757,0.219895,-0.006781,-0.013557,NaN,-0.095699,-3247.125160,0.155634,2.755797e-07,2.406391e-07,0.500232,NaN,4.810549e-07,0.622246,0.622246,175.726003,-0.000752,0.193685,NaN,-369.785566,NaN,-739.227981,NaN,4.183333,135000.0,-227.272727,1.145199,-13198.5,-227.272727,0.696970,15577.0
139008,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,-9833.0,-2437,NaN,1,1,0,1,0,0,2.0,2,2,17,0,0,0,0,0,0,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.650442,0.650442,0.650442,0.650442,0.000000,0.159905,0.431748,67500.0,0.219900,0.094941,1.052803,-44.422507,-7.103394,0.128229,NaN,NaN,0.032465,0.650442,0.151116,NaN,-0.012501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.080199e-06,0.325221,0.325221,81.112569,-0.001054,NaN,NaN,NaN,NaN,-1976.692297,NaN,2.200000,67500.0,-44.422507,1.052803,-18436.5,-44.422507,0.203027,15966.0
138348,0,1,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,-4311.0,-3458,NaN,1,1,0,1,0,0,1.0,2,2,11,0,0,0,0,1,1,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.322738,0.322738,0.322738,0.322738,0.000000,0.152418,0.236842,121500.0,0.179963,0.042623,1.000000,-39.993417,-6.095725,0.173490,NaN,NaN,0.055489,0.322738,0.151116,NaN,-0.005914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.291195e-07,0.161369,0.161369,11.259753,-0.000292,NaN,NaN,NaN,NaN,-980.478916,NaN,4.222222,121500.0,-39.993417,1.000000,-11740.5,-39.993417,0.364055,16894.0
64140,0,1,0,1,0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941,-1588.0,-4970.0,-477,NaN,1,1,1,1,1,0,2.0,2,2,16,0,0,0,0,0,0,NaN,0.354225,0.621226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.354225,0.621226,0.487726,0.487726,0.017822,0.093737,0.201837,49500.0,0.277955,0.056101,1.079198,-62.342569,-5.843811,0.028157,NaN,NaN,0.149696,0.487726,0.188799,NaN,-0.007637,-0.013394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.221773e-07,0.177112,0.177112,9.896757,-0.000140,NaN,NaN,NaN,0.220054,-562.508874,-986.507425,4.590909,49500.0,-62.342569,1.079198,-19267.5,-62.342569,1.596977,15353.0
219374,0,1,1,1,0,360000.0,1530000.0,42075.0,1530000.0,0.003122,-18850,-449.0,-4597.0,-2379,8.0,1,1,1,1,0,0,2.0,3,3,16,0,0,0,0,1,1,NaN,0.714279,0.540654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.540654,0.714279,0.627467,0.627467,0.007536,0.023820,0.235294,180000.0,0.116875,0.027500,1.000000,-801.781737,-19.098143,0.126207,-0.000424,-0.017817,0.056764,0.627467,0.122771,NaN,-0.013840,-0.010476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.668492e-07,0.238093,0.238093,228.789009,-0.000668,NaN,NaN,NaN,0.386178,-320.711400,-242.753848,4.250000,180000.0,-801.781737,1.000000,-12075.0,-801.781737,2.383073,18401.0
53466,0,0,0,1,0,112500.0,1019610.0,33826.5,913500.0,0.018634,-20099,NaN,-7427.0,-3514,NaN,1,0,0,1,0,0,2.0,2,2,14,0,0,0,0,0,0,0.587334,0.205747,0.751724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.090840,3.635587,0.205747,0.751724,0.514935,0.587334,0.052303,NaN,0.110336,56250.0,0.300680,0.033176,1.116158,NaN,-5.597293,0.174835,NaN,NaN,NaN,0.514935,0.280096,-0.010673,-0.003739,-0.013661,NaN,-2428.811142,0.293667,6.429491e-07,5.760379e-07,2.854638,0.781316,2.017902e-07,0.102874,0.102874,11.041499,NaN,0.120842,0.441513,NaN,0.154665,NaN,NaN,8.120000,56250.0,NaN,1.116158,-24451.5,NaN,NaN,NaN
27272,0,1,0,1,0,135000.0,405000.0,20250.0,405000.0,0.019689,-14469,-2019.0,-14437.0,-3992,NaN,1,1,0,1,0,0,1.0,2,2,8,0,0,0,0,0,0,NaN,0.746644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.746644,0.746644,0.746644,0.746644,0.000000,0.139540,0.333333,135000.0,0.150000,0.050000,1.000000,-66.864785,-9.330292,0.275900,NaN,NaN,0.115627,0.746644,0.151116,NaN,-0.018848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.843565e-06,0.373322,0.373322,37.921866,-0.000446,NaN,NaN,NaN,NaN,-1507.473488,NaN,3.000000,135000.0,-66.864785,1.000000,-9000.0,-66.864785,0.828628,12450.0
218056,0,0,0,1,1,112500.0,652500.0,21177.0,652500.0,0.022800,-10197,-679.0,-4427.0,-738,NaN,1,1,0,1,0,0,3.0,2,2,15,0,0,0,0,0,0,0.319760,0.651862,0.363945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.075861,2.383218,0.319760,0.651862,0.445189,0.363945,0.021682,0.066588,0.172414,37500.0,0.188240,0.032455,1.000000,-165.684831,-11.032657,0.072374,NaN,NaN,0.082769,0.445189,0.180342,-0.011454,-0.023349,-0.013036,-0.172006,-2125.458720,0.106587,4.900539e-07,4.900539e-07,0.490533,0.878594,9.990227e-07,0.325931,0.325931,28.590453,-0.000772,0.208440,0.116375,-217.117157,0.237242,-442.614524,-247.118817,5.800000,37500.0,-165.684831,1.000000,-11802.0,-165.684831,1.243004,9518.0
52390,0,1,1,0,1,225000.0,918468.0,28966.5,697500.0,0.016612,-14086,-3028.0,-643.0,-4911,23.0,1,1,0,1,0,0,3.0,2,2,13,0,0,0,0,0,0,NaN,0.566907,0.770087,0.1474,0.0973,0.9806,0.7348,0.0582,0.16,0.1379,0.3333,0.3750,0.0931,0.1202,0.1397,0.0000,0.0000,0.1502,0.1010,...,NaN,NaN,0.566907,0.770087,0.668497,0.668497,0.010321,0.214965,0.244973,75000.0,0.128740,0.031538,1.316800,-74.306473,-15.973307,0.348644,-0.001633,-0.007596,0.000284,0.668497,0.143670,NaN,-0.014700,-0.019968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.172307e-07,0.283453,0.283453,34.126331,-0.141727,NaN,NaN,NaN,0.436567,-1716.593225,-2331.823648,3.100000,75000.0,-74.306473,1.316800,-10216.5,-74.306473,0.001321,11058.0
268198,0,0,0,1,0,189000.0,773680.5,32778.0,679500.0,0.010006,-14583,-203.0,-615.0,-2056,NaN,1,1,0,1,0,0,2.0,2,1,9,0,0,0,0,0,0,0.721940,0.642656,NaN,0.3495,0.1335,0.9985,0.9796,0.1143,0.40,0.1724,0.6667,0.7083,0.1758,0.2849,0.3774,0.0193,0.1001,0.3561,0.1386,...,NaN,NaN,0.642656,0.721940,0.682298,0.682298,0.001571,0.013920,0.244287,94500.0,0.173429,0.042366,1.138603,-931.034483,-12.960296,0.140986,NaN,NaN,0.012892,0.682298,0.056062,-0.018082,-0.016096,NaN,-1.298958,-6765.915145,0.360970,1.062457e-06,9.331239e-07,1.123369,NaN,8.306481e-07,0.321328,0.642656,64.227084,-0.003418,0.463959,NaN,-146.553773,NaN,-130.459210,NaN,3.595238,94500.0,-931.034483,1.138603,-17028.0,-931.034483,0.926108,14380.0
159669,0,1,1,1,0,157500.0,299772.0,20160.0,247500.0,0.020713,-8728,-1157.0,-3494.0,-1368,17.0,1,1,0,1,0,0,1.0,3,3,6,0,0,0,1,1,0,0.115634,0.346634,0.678568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.027199,2.613606,0.115634,0.678568,0.380279,0.346634,0.053382,0.132562,0.525399,157500.0,0.128000,0.067251,1.211200,-136.127917,-18.045371,0.156737,-0.001948,-0.014693,0.105981,0.380279,0.282971,-0.004839,-0.014506,-0.028397,-0.036504,-349.842597,0.115634,4.672094e-07,3.857410e-07,0.333592,0.170409,1.156325e-06,0.115545,0.115545,16.735093,-0.000375,0.040083,0.078466,-133.788928,0.235215,-401.055516,-785.102816,1.571429,157500.0,-136.127917,1.211200,-7035.0,-136.127917,0.799481,7571.0
211972,0,0,0,1,1,81000.0,270000.0,13500.0,270000.0,0.010966,-9776,-191.0,-4143.0,-2427,NaN,1,1,0,1,0,0,3.0,2,2,10,0,0,0,1,1,0,NaN,0.683513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.683513,0.683513,0.683513,0.683513,0.000000,0.019538,0.300000,27000.0,0.166667,0.050000,1.000000,-424.083770,-8.285597,0.248261,NaN,NaN,0.287541,0.683513,0.151116,NaN,-0.025537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.531531e-06,0.341757,0.341757,62.330234,-0.000243,NaN,NaN,NaN,NaN,-130.551049,NaN,3.333333,27000.0,-424.083770,1.000000,-6750.0,-424.083770,14.717277,9585.0
152919,0,0,0,1,0,112500.0,157500.0,7875.0,157500.0,0.046220,-17718,-7804.0,-8751.0,-1259,NaN,1,1,0,1,1,0,1.0,1,1,13,0,0,0,0,0,0,NaN,0.706428,0.556727,0.0278,0.0617,0.9881,0.8368,0.0018,0.00,0.1034,0.0833,0.1250,0.0279,0.0227,0.0290,0.0000,0.0000,0.0284,0.0640,...,NaN,NaN,0.556727,0.706428,0.631578,0.631578,0.005603,0.440456,0.714286,112500.0,0.070000,0.050000,1.000000,-14.415684,-6.349475,0.071058,NaN,NaN,0.013489,0.631578,0.105855,NaN,-0.014563,-0.011477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.485260e-06,0.706428,0.706428,15.284042,-0.002956,NaN,NaN,NaN,0.393288,-5512.967256,-4344.700835,1.400000,112500.0,-14.415684,1.000000,1500.0,-14.415684,0.030625,9914.0
67603,0,0,0,1,1,90000.0,544491.0,17563.5,454500.0,0.015221,-11348,-2038.0,-1021.0,-3964,NaN,1,1,1,1,1,0,2.0,2,2,12,0,0,0,0,0,0,NaN,0.586617,0.477649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.477649,0.586617,0.532133,0.532133,0.002969,0.179591,0.165292,45000.0,0.195150,0.032257,1.198000,-44.160942,-7.930913,0.349313,NaN,NaN,0.163024,0.532133,0.077052,NaN,-0.018881,-0.015374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.077368e-06,0.293309,0.293309,38.539987,-0.000317,NaN,NaN,NaN,0.280197,-1195.525731,-973.448978,5.050000,45000.0,-44.160942,1.198000,-10063.5,-44.160942,0.907753,9310.0
290315,0,1,1,1,0,135000.0,427500.0,21375.0,427500.0,0.015221,-18252,-4286.0,-298.0,-1800,7.0,1,1,0,1,0,0,2.0,2,2,13,0,0,0,0,0,0,0.565655,0.113375,NaN,0.0722,0.0801,0.9781,0.7008,NaN,0.00,0.1379,0.1667,0.0417,0.0534,0.0588,0.0619,0.0000,0.0000,0.0735,0.0831,...,NaN,NaN,0.113375,0.565655,0.339515,0.339515,0.051139,0.234824,0.315789,67500.0,0.158333,0.050000,1.000000,-31.497900,-7.396450,0.098619,-0.000384,-0.001633,0.016217,0.339515,0.319811,-0.011320,-0.002269,NaN,-0.048205,-1170.516213,0.282827,1.323169e-06,1.323169e-06,4.989260,NaN,2.652035e-07,0.056687,0.056687,7.448559,-0.000383,0.064131,NaN,-2424.396826,NaN,-485.923162,NaN,3.166667,67500.0,-31.497900,1.000000,-10125.0,-31.497900,0.069062,13966.0
57291,0,0,1,1,1,202500.0,1132573.5,37561.5,927000.0,0.025164,-14815,-1652.0,-2299.0,-2299,14.0,1,1,0,1,0,0,3.0,2,2,9,0,0,0,0,0,0,0.437709,0.233767,0.542445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.055504,2.736520,0.233767,0.542445,0.404640,0.437709,0.016427,0.111509,0.178796,67500.0,0.185489,0.033165,1.221762,-122.578692,-13.668579,0.155181,-0.000945,-0.008475,NaN,0.404640,0.156974,-0.010791,-0.005763,-0.013373,-0.096776,-1515.899035,0.145903,4.721780e-07,3.864729e-07,1.872416,0.806918,2.064033e-07,0.116883,0.116883,9.289738,NaN,0.102322,0.237433,-723.095301,0.126806,-386.183014,-896.119378,4.577778,67500.0,-122.578692,1.221762,-20686.5,-122.578692,NaN,13163.0
170817,0,0,0,1,0,83250.0,239850.0,23850.0,225000.0,0.006296,-24827,NaN,-9012.0,-3684,NaN,1,0,0,1,1,0,2.0,3,3,12,0,0,0,0,0,0,NaN,0.624305,0.669057,0.1443,0.0848,0.9876,0.8300,0.1064,0.14,0.1207,0.3750,0.4167,0.2371,0.1173,0.1484,0.0019,0.0007,0.1261,0.0754,...,NaN,NaN,0.624305,0.669057,0.646681,0.646681,0.000501,NaN,0.347092,41625.0,0.286486,0.099437,1.066000,NaN,-3.353204,0.148387,NaN,NaN,0.032022,0.646681,0.031644,NaN,-0.009185,-0.009843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.602897e-06,0.208102,0.208102,99.158948,-0.000785,NaN,NaN,NaN,0.417695,NaN,NaN,2.702703,41625.0,NaN,1.066000,-16912.5,NaN,NaN,NaN
71586,0,0,0,1,0,90000.0,225000.0,11074.5,225000.0,0.028663,-19334,-3494.0,-2419.0,-2893,NaN,1,1,0,1,1,0,2.0,2,2,8,0,0,0,0,0,0,0.561948,0.651406,0.461482,0.0722,0.0147,0.9781,0.7008,0.0010,0.00,0.1379,0.1667,0.0417,0.0498,0.0588,0.0670,0.0000,0.0000,0.0735,0.0153,...,0.168929,3.159750,0.461482,0.651406,0.558279,0.561948,0.006019,0.180718,0.400000,45000.0,0.123050,0.049220,1.000000,-25.758443,-4.655012,0.149633,NaN,NaN,NaN,0.558279,0.095015,-0.010616,-0.012306,-0.008718,-0.058744,-7077.333689,0.280974,2.497548e-06,2.497548e-06,0.862670,1.217703,2.895136e-06,0.325703,0.325703,22.726359,NaN,0.366056,0.259329,-1963.447742,0.300612,-2276.011294,-1612.419475,2.500000,45000.0,-25.758443,1.000000,-3574.5,-25.758443,NaN,15840.0
205758,0,1,0,1,1,112500.0,327024.0,23827.5,270000.0,0.019101,-15948,-1234.0,-5782.0,-3153,NaN,1,1,0,1,0,0,3.0,2,2,10,0,0,0,0,1,1,NaN,0.541124,0.659406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.541124,0.659406,0.600265,0.600265,0.003498,0.077376,0.344011,37500.0,0.211800,0.072862,1.211200,-91.166937,-7.054176,0.197705,NaN,NaN,0.000125,0.600265,0.083638,NaN,-0.012393,-0.015102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.654691e-06,0.270562,0.270562,28.329601,-0.270562,NaN,NaN,NaN,0.356820,-667.746649,-813.706427,2.400000,37500.0,-91.166937,1.211200,-14452.5,-91.166937,0.001621,14714.0
133615,0,1,1,1,0,270000.0,790830.0,57676.5,675000.0,0.046220,-9994,-1796.0,-4668.0,-2661,1.0,1,1,0,1,0,1,1.0,1,1,11,0,1,1,0,0,0,0.600396,0.685011,0.524496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.215714,3.459292,0.524496,0.685011,0.603301,0.600396,0.004298,0.179708,0.341413,270000.0,0.213617,0.072932,1.171600,-150.334076,-27.016210,0.266260,-0.000100,-0.000557,0.084951,0.603301,0.080297,-0.021943,-0.025035,-0.019169,-0.122102,-4110.310267,0.600396,8.894754e-07,7.591972e-07,0.876476,1.144709,8.661925e-07,0.685011,0.685011,14.820662,-0.000807,0.411278,0.314906,-1078.311045,0.359286,-1230.279738,-941.995618,2.500000,270000.0,-150.334076,1.171600,-35176.5,-150.334076,0.472717,8198.0

In [9]:
# drop columns with more than 50% missing values
cols_missing_50 = app_train_clean.columns[app_train_clean.isnull().mean() > 0.5].tolist()
app_train_clean.drop(cols_missing_50, axis=1, inplace=True)
app_train_clean.isnull().sum().sort_values(ascending=False) / len(app_train_clean)

FLOORSMAX_AVG                            0.498083
FLOORSMAX_MODE                           0.498083
FLOORSMAX_MEDI                           0.498083
YEARS_BEGINEXPLUATATION_AVG              0.488120
YEARS_BEGINEXPLUATATION_MODE             0.488120
                                           ...
FONDKAPREMONT_MODE_missing_flag          0.000000
NONLIVINGAREA_MEDI_missing_flag          0.000000
NONLIVINGAPARTMENTS_MEDI_missing_flag    0.000000
LIVINGAREA_MEDI_missing_flag             0.000000
NAME_EDUCATION_TYPE_Incomplete higher    0.000000
Length: 318, dtype: float64

In [10]:
# feature selection
# drop columns with variance less than 0.01
selected_features = app_train_clean.columns[app_train_clean.var() > 0.01].tolist()
app_train_clean = app_train_clean[selected_features]
app_train_clean.head()

,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,EXT_SOURCE_3,FLOORSMAX_AVG,FLOORSMAX_MODE,FLOORSMAX_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,OWN_CAR_AGE_missing_flag,OCCUPATION_TYPE_missing_flag,EXT_SOURCE_1_missing_flag,...,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Kindergarten,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Security,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Trade: type 3,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_nan,FONDKAPREMONT_MODE_org spec account,FONDKAPREMONT_MODE_reg oper account,FONDKAPREMONT_MODE_reg oper spec account,FONDKAPREMONT_MODE_nan,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_nan,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WALLSMATERIAL_MODE_nan,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_nan,DOCUMENT_COUNT,NEW_DOC_KURT,AGE_RANGE,EXT_SOURCES_MIN,EXT_SOURCES_MAX,EXT_SOURCES_MEAN,EXT_SOURCES_NANMEDIAN,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,CREDIT_TO_GOODS_RATIO,INCOME_TO_BIRTH_RATIO,ID_TO_BIRTH_RATIO,APPS_EXT_SOURCE_MEAN,APP_SCORE2_TO_REGION_RATING_RATIO,APP_SCORE2_TO_CITY_RATING_RATIO,APP_SCORE2_TO_POP_RATIO,APP_EXT_SOURCE_2*EXT_SOURCE_3,APP_EXT_SOURCE_2*DAYS_EMPLOYED,APP_EXT_SOURCE_3*DAYS_EMPLOYED,APPS_GOODS_INCOME_RATIO,APPS_CNT_FAM_INCOME_RATIO,CREDIT_TO_GOODS_RATIO_2,APP_AMT_INCOME_TOTAL_12_AMT_ANNUITY_ratio,APP_DAYS_EMPLOYED_DAYS_BIRTH_diff
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
278621,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,-16765,-1188.0,-1186.0,-291,1,0,1,0,2.0,1,1,11,0,0,0,0,0,0,0.622246,NaN,0.2917,0.2917,0.2917,0.0714,1.0,0.0,1.0,0.0,-828.0,1,0,0,0,0.0,0.0,0.0,0.0,0.0,True,False,False,...,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,True,False,False,False,False,True,False,1,20.0,3,0.311267,0.622246,0.466757,0.466757,0.070862,0.208736,135000.0,1.145199,-16.104981,0.017358,0.466757,0.622246,0.622246,175.726003,NaN,-739.227981,NaN,4.183333,135000.0,1.145199,-13198.5,15577.0
139008,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,-19005,-3039.0,-9833.0,-2437,1,0,0,0,2.0,2,2,17,0,0,0,0,0,0,0.650442,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,1,0,0,0,NaN,NaN,NaN,NaN,NaN,True,False,True,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True,False,True,1,20.0,4,0.650442,0.650442,0.650442,0.650442,0.159905,0.431748,67500.0,1.052803,-7.103394,0.128229,0.650442,0.325221,0.325221,81.112569,NaN,-1976.692297,NaN,2.200000,67500.0,1.052803,-18436.5,15966.0
138348,0,1,0,1,0,121500.0,513000.0,21865.5,513000.0,-19932,-3038.0,-4311.0,-3458,1,0,0,0,1.0,2,2,11,0,0,0,0,1,1,0.322738,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,True,False,True,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True,False,True,1,20.0,4,0.322738,0.322738,0.322738,0.322738,0.152418,0.236842,121500.0,1.000000,-6.095725,0.173490,0.322738,0.161369,0.161369,11.259753,NaN,-980.478916,NaN,4.222222,121500.0,1.000000,-11740.5,16894.0
64140,0,1,0,1,0,99000.0,490495.5,27517.5,454500.0,-16941,-1588.0,-4970.0,-477,1,1,1,0,2.0,2,2,16,0,0,0,0,0,0,0.354225,0.621226,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2536.0,1,0,0,0,0.0,0.0,0.0,1.0,1.0,True,False,True,...,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True,False,True,1,20.0,3,0.354225,0.621226,0.487726,0.487726,0.093737,0.201837,49500.0,1.079198,-5.843811,0.028157,0.487726,0.177112,0.177112,9.896757,0.220054,-562.508874,-986.507425,4.590909,49500.0,1.079198,-19267.5,15353.0
219374,0,1,1,1,0,360000.0,1530000.0,42075.0,1530000.0,-18850,-449.0,-4597.0,-2379,1,1,0,0,2.0,3,3,16,0,0,0,0,1,1,0.714279,0.540654,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-1070.0,1,0,0,0,0.0,0.0,0.0,0.0,0.0,False,False,True,...,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True,False,True,1,20.0,4,0.540654,0.714279,0.627467,0.627467,0.023820,0.235294,180000.0,1.000000,-19.098143,0.126207,0.627467,0.238093,0.238093,228.789009,0.386178,-320.711400,-242.753848,4.250000,180000.0,1.000000,-12075.0,18401.0

In [11]:
app_train_clean.to_csv('processed-data/processed_application_train.csv')

# train

In [12]:
X, y = app_train_clean.drop(['TARGET'], axis=1), app_train_clean['TARGET']
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=64)

# replace inf values with nan
X_train = X_train.replace([np.inf, -np.inf], np.nan)
X_valid = X_valid.replace([np.inf, -np.inf], np.nan)

# robust scaler
robust_scaler = RobustScaler(quantile_range=(0, 98))
robust_scaler.fit(X_train)
X_train = robust_scaler.transform(X_train)
X_valid = robust_scaler.transform(X_valid)

# scale values
minmax_scaler = MinMaxScaler(feature_range=(0, 1))
minmax_scaler.fit(X_train)
X_train = minmax_scaler.transform(X_train)
X_valid = minmax_scaler.transform(X_valid)

In [13]:
# fill missing values with median
imputer = SimpleImputer(strategy='mean')
imputer.fit(X_train)
X_train = imputer.transform(X_train)
X_valid = imputer.transform(X_valid)

In [14]:
# train model
logreg = LogisticRegression(class_weight='balanced', solver='newton-cholesky')
logreg.fit(X_train, y_train)

# predict
y_pred = logreg.predict_proba(X_valid)[:, 1]

# evaluate
roc = roc_auc_score(y_valid, y_pred)
print('ROC AUC: {:.4f}'.format(roc))
print('GINI: {:.4f}'.format(2*roc - 1))

ROC AUC: 0.7464
GINI: 0.4928

# test

In [15]:
app_test = pd.read_csv('raw-data/dseb63_application_test.csv')
app_test.drop(['Unnamed: 0'], axis=1, inplace=True)
app_test.set_index('SK_ID_CURR', inplace=True)
app_test.head(10)

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,...,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
83659,Cash loans,M,Y,N,2,207000.0,465457.5,52641.0,418500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.009630,-13297,-762,-637.0,-4307,19.0,1,1,0,1,0,0,Sales staff,4.0,2,2,THURSDAY,11,0,0,0,0,1,1,Business Entity Type 3,0.675878,0.604894,0.000527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
174814,Cash loans,F,Y,Y,0,247500.0,1281712.5,48946.5,1179000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.006852,-14778,-1141,-1610.0,-4546,11.0,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.430827,0.425351,0.712155,0.0753,0.0568,0.9970,0.9592,0.1326,0.08,0.0517,0.4167,...,0.0760,0.0568,0.9970,0.9597,0.1335,0.08,0.0517,0.4167,0.2917,0.0748,0.0611,0.0859,0.0058,0.1142,reg oper account,block of flats,0.0754,Monolithic,No,2.0,0.0,2.0,0.0,-1071.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
179486,Cash loans,F,Y,N,0,202500.0,495000.0,39109.5,495000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-17907,-639,-2507.0,-1461,4.0,1,1,1,1,0,0,Sales staff,2.0,2,2,TUESDAY,16,0,0,0,0,0,0,Self-employed,0.527239,0.531760,0.207964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,5.0,0.0,-1435.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
57038,Cash loans,F,N,Y,0,247500.0,254700.0,24939.0,225000.0,Unaccompanied,State servant,Secondary / secondary special,Widow,House / apartment,0.046220,-19626,-6982,-11167.0,-3158,NaN,1,1,0,1,0,0,High skill tech staff,1.0,1,1,FRIDAY,14,0,0,0,0,0,0,Business Entity Type 3,NaN,0.693521,0.614414,0.1320,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,...,0.1332,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1657,NaN,0.0022,NaN,NaN,0.1285,Panel,No,0.0,0.0,0.0,0.0,-2000.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25672,Cash loans,M,N,Y,0,112500.0,308133.0,15862.5,234000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018850,-20327,-1105,-7299.0,-494,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.654882,0.560690,0.636376,0.0619,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,...,0.0625,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,NaN,0.0881,NaN,0.0762,NaN,0.0152,NaN,block of flats,0.0765,"Stone, brick",No,0.0,0.0,0.0,0.0,-173.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
302672,Cash loans,M,N,Y,0,85500.0,152820.0,16456.5,135000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.006629,-19130,365243,-8549.0,-959,NaN,1,0,0,1,1,0,NaN,2.0,2,2,THURSDAY,6,0,0,0,0,0,0,XNA,NaN,0.519127,0.104795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,3.0,0.0,-1011.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
90463,Cash loans,F,N,N,1,112500.0,900000.0,24750.0,900000.0,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,0.015221,-15722,-345,-492.0,-4672,NaN,1,1,0,1,1,0,NaN,3.0,2,2,WEDNESDAY,12,0,0,0,1,0,1,Business Entity Type 3,0.714067,0.547963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-440.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
178370,Cash loans,M,Y,Y,0,141606.0,810000.0,33120.0,810000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.018801,-10801,-260,-263.0,-3152,12.0,1,1,1,1,0,0,Laborers,1.0,2,2,FRIDAY,10,0,0,0,0,0,0,Trade: type 3,NaN,0.012588,0.490258,0.0825,0.0880,0.9747,0.6532,0.0629,0.00,0.1379,0.1667,...,0.0833,0.0880,0.9747,0.6578,0.0633,0.00,0.1379,0.1667,0.2083,0.0838,0.0684,0.0722,0.0000,0.0000,reg oper account,block of flats,0.0901,Panel,No,5.0,0.0,5.0,0.0,-222.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
7865,Cash loans,F,N,Y,0,130500.0,781920.0,34443.0,675000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.022800,-23516,365243,-1663.0,-4763,NaN,1,0,0,1,0,0,NaN,2.0,2,2,SATURDAY,8,0,0,0,0,0,0,XNA,NaN,0.077535,0.633032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
185100,Cash loans,F,N,Y,1,99000.0,900000.0,35824.5,900000.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.026392,-8755,-649,-8733.0,-1436,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,14,0,0,0,0,0,0,Trade: type 7,NaN,0.740082,NaN,0.0804,0.0609,0.9762,NaN,NaN,0.00,0.1379,0.1667,...,0.0812,0.0609,0.9762,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0709,NaN,0.0619,NaN,0.0000,NaN,block of flats,0.0478,"Stone, brick",No,3.0,0.0,3.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Update missing_value_cols to include only those columns that have missing values
new_no_missing_values_cols = []

for col in missing_value_cols:
    if app_test[col].isnull().sum() == 0:
        missing_value_cols.remove(col)
        new_no_missing_values_cols.append(col)

new_cols = [c+'_missing_flag' for c in missing_value_cols]
mask_missing_values_only = indicator.fit_transform(app_test[missing_value_cols])        
mask_missing_values_only = pd.DataFrame(mask_missing_values_only, columns=new_cols, index=app_test.index)

# add no missing value cols to the df with all False values
for col in new_no_missing_values_cols:
    mask_missing_values_only[col+'_missing_flag'] = False

mask_missing_values_only.shape

(61502, 67)

In [17]:
app_test = pd.merge(app_test, mask_missing_values_only, left_index=True, right_index=True)
app_test.head(10)

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,...,FLOORSMIN_AVG_missing_flag,LANDAREA_AVG_missing_flag,LIVINGAPARTMENTS_AVG_missing_flag,LIVINGAREA_AVG_missing_flag,NONLIVINGAPARTMENTS_AVG_missing_flag,NONLIVINGAREA_AVG_missing_flag,APARTMENTS_MODE_missing_flag,BASEMENTAREA_MODE_missing_flag,YEARS_BEGINEXPLUATATION_MODE_missing_flag,YEARS_BUILD_MODE_missing_flag,COMMONAREA_MODE_missing_flag,ELEVATORS_MODE_missing_flag,ENTRANCES_MODE_missing_flag,FLOORSMAX_MODE_missing_flag,FLOORSMIN_MODE_missing_flag,LANDAREA_MODE_missing_flag,LIVINGAPARTMENTS_MODE_missing_flag,LIVINGAREA_MODE_missing_flag,NONLIVINGAPARTMENTS_MODE_missing_flag,NONLIVINGAREA_MODE_missing_flag,APARTMENTS_MEDI_missing_flag,BASEMENTAREA_MEDI_missing_flag,YEARS_BEGINEXPLUATATION_MEDI_missing_flag,YEARS_BUILD_MEDI_missing_flag,COMMONAREA_MEDI_missing_flag,ELEVATORS_MEDI_missing_flag,ENTRANCES_MEDI_missing_flag,FLOORSMAX_MEDI_missing_flag,FLOORSMIN_MEDI_missing_flag,LANDAREA_MEDI_missing_flag,LIVINGAPARTMENTS_MEDI_missing_flag,LIVINGAREA_MEDI_missing_flag,NONLIVINGAPARTMENTS_MEDI_missing_flag,NONLIVINGAREA_MEDI_missing_flag,FONDKAPREMONT_MODE_missing_flag,HOUSETYPE_MODE_missing_flag,TOTALAREA_MODE_missing_flag,WALLSMATERIAL_MODE_missing_flag,EMERGENCYSTATE_MODE_missing_flag,OBS_30_CNT_SOCIAL_CIRCLE_missing_flag,DEF_30_CNT_SOCIAL_CIRCLE_missing_flag,OBS_60_CNT_SOCIAL_CIRCLE_missing_flag,DEF_60_CNT_SOCIAL_CIRCLE_missing_flag,AMT_REQ_CREDIT_BUREAU_HOUR_missing_flag,AMT_REQ_CREDIT_BUREAU_DAY_missing_flag,AMT_REQ_CREDIT_BUREAU_WEEK_missing_flag,AMT_REQ_CREDIT_BUREAU_MON_missing_flag,AMT_REQ_CREDIT_BUREAU_QRT_missing_flag,AMT_REQ_CREDIT_BUREAU_YEAR_missing_flag,DAYS_LAST_PHONE_CHANGE_missing_flag
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
83659,Cash loans,M,Y,N,2,207000.0,465457.5,52641.0,418500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.009630,-13297,-762,-637.0,-4307,19.0,1,1,0,1,0,0,Sales staff,4.0,2,2,THURSDAY,11,0,0,0,0,1,1,Business Entity Type 3,0.675878,0.604894,0.000527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
174814,Cash loans,F,Y,Y,0,247500.0,1281712.5,48946.5,1179000.0,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,0.006852,-14778,-1141,-1610.0,-4546,11.0,1,1,0,1,0,1,Managers,1.0,3,3,THURSDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.430827,0.425351,0.712155,0.0753,0.0568,0.9970,0.9592,0.1326,0.08,0.0517,0.4167,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
179486,Cash loans,F,Y,N,0,202500.0,495000.0,39109.5,495000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-17907,-639,-2507.0,-1461,4.0,1,1,1,1,0,0,Sales staff,2.0,2,2,TUESDAY,16,0,0,0,0,0,0,Self-employed,0.527239,0.531760,0.207964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
57038,Cash loans,F,N,Y,0,247500.0,254700.0,24939.0,225000.0,Unaccompanied,State servant,Secondary / secondary special,Widow,House / apartment,0.046220,-19626,-6982,-11167.0,-3158,NaN,1,1,0,1,0,0,High skill tech staff,1.0,1,1,FRIDAY,14,0,0,0,0,0,0,Business Entity Type 3,NaN,0.693521,0.614414,0.1320,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,...,True,True,True,False,True,False,False,False,False,True,True,False,False,False,True,True,True,False,True,False,False,False,False,True,True,False,False,False,True,True,True,False,True,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25672,Cash loans,M,N,Y,0,112500.0,308133.0,15862.5,234000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018850,-20327,-1105,-7299.0,-494,NaN,1,1,0,1,0,0,Laborers,1.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.654882,0.560690,0.636376,0.0619,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,...,True,False,True,False,True,False,False,False,False,True,True,False,False,False,True,False,True,False,True,False,False,False,False,True,True,False,False,False,True,False,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302672,Cash loans,M,N,Y,0,85500.0,152820.0,16456.5,135000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.006629,-19130,365243,-8549.0,-959,NaN,1,0,0,1,1,0,NaN,2.0,2,2,THURSDAY,6,0,0,0,0,0,0,XNA,NaN,0.519127,0.104795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
90463,Cash loans,F,N,N,1,112500.0,900000.0,24750.0,900000.0,Family,Commercial associate,Secondary / secondary special,Married,House / apartment,0.015221,-15722,-345,-492.0,-4672,NaN,1,1,0,1,1,0,NaN,3.0,2,2,WEDNESDAY,12,0,0,0,1,0,1,Business Entity Type 3,0.714067,0.547963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
178370,Cash loans,M,Y,Y,0,141606.0,810000.0,33120.0,810000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.018801,-10801,-260,-263.0,-3152,12.0,1,1,1,1,0,0,Laborers,1.0,2,2,FRIDAY,10,0,0,0,0,0,0,Trade: type 3,NaN,0.012588,0.490258,0.0825,0.0880,0.9747,0.6532,0.0629,0.00,0.1379,0.1667,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7865,Cash loans,F,N,Y,0,130500.0,781920.0,34443.0,675000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.022800,-23516,365243,-1663.0,-4763,NaN,1,0,0,1,0,0,NaN,2.0,2,2,SATURDAY,8,0,0,0,0,0,0,XNA,NaN,0.077535,0.633032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False
185100,Cash loans,F,N,Y,1,99000.0,900000.0,35824.5,900000.0,Unaccompanied,Working,Secondary / secondary special,Separated,House / apartment,0.026392,-8755,-649,-8733.0,-1436,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,14,0,0,0,0,0,0,Trade: type 7,NaN,0.740082,NaN,0.0804,0.0609,0.9762,NaN,NaN,0.00,0.1379,0.1667,...,True,False,True,False,True,False,False,False,False,True,True,False,False,False,True,False,True,False,True,False,False,False,False,True,True,False,False,False,True,False,True,False,True,False,True,False,False,False,False,False,False,False,False,True,True,True,True,True,True,False

In [18]:
app_test_clean = application(app_test)
app_test_clean.head(20)

"Application_Train_Test" final shape: (61502, 370)

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,...,EXT_SOURCES_PROD,EXT_SOURCES_WEIGHTED,EXT_SOURCES_MIN,EXT_SOURCES_MAX,EXT_SOURCES_MEAN,EXT_SOURCES_NANMEDIAN,EXT_SOURCES_VAR,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,ANNUITY_INCOME_PERC,PAYMENT_RATE,CREDIT_TO_GOODS_RATIO,INCOME_TO_EMPLOYED_RATIO,INCOME_TO_BIRTH_RATIO,ID_TO_BIRTH_RATIO,CAR_TO_BIRTH_RATIO,CAR_TO_EMPLOYED_RATIO,PHONE_TO_BIRTH_RATIO,APPS_EXT_SOURCE_MEAN,APPS_EXT_SOURCE_STD,APP_SCORE1_TO_BIRTH_RATIO,APP_SCORE2_TO_BIRTH_RATIO,APP_SCORE3_TO_BIRTH_RATIO,APP_SCORE1_TO_EMPLOY_RATIO,APP_EXT_SOURCE_2*EXT_SOURCE_3*DAYS_BIRTH,APP_SCORE1_TO_FAM_CNT_RATIO,APP_SCORE1_TO_GOODS_RATIO,APP_SCORE1_TO_CREDIT_RATIO,APP_SCORE1_TO_SCORE2_RATIO,APP_SCORE1_TO_SCORE3_RATIO,APP_SCORE2_TO_CREDIT_RATIO,APP_SCORE2_TO_REGION_RATING_RATIO,APP_SCORE2_TO_CITY_RATING_RATIO,APP_SCORE2_TO_POP_RATIO,APP_SCORE2_TO_PHONE_CHANGE_RATIO,APP_EXT_SOURCE_1*EXT_SOURCE_2,APP_EXT_SOURCE_1*EXT_SOURCE_3,APP_EXT_SOURCE_1*DAYS_EMPLOYED,APP_EXT_SOURCE_2*EXT_SOURCE_3,APP_EXT_SOURCE_2*DAYS_EMPLOYED,APP_EXT_SOURCE_3*DAYS_EMPLOYED,APPS_GOODS_INCOME_RATIO,APPS_CNT_FAM_INCOME_RATIO,APPS_INCOME_EMPLOYED_RATIO,CREDIT_TO_GOODS_RATIO_2,APP_AMT_INCOME_TOTAL_12_AMT_ANNUITY_ratio,APP_INCOME_TO_EMPLOYED_RATIO,APP_DAYS_LAST_PHONE_CHANGE_DAYS_EMPLOYED_ratio,APP_DAYS_EMPLOYED_DAYS_BIRTH_diff
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
83659,0,0,0,2,207000.0,465457.5,52641.0,418500.0,0.009630,-13297,-762.0,-637.0,-4307,19.0,1,1,0,1,0,0,4.0,2,2,11,0,0,0,0,1,1,0.675878,0.604894,0.000527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000216,1.958232,0.000527,0.675878,0.427100,0.604894,0.091822,0.057306,0.444724,51750.0,0.254304,0.113095,1.112204,-271.653543,-15.567421,0.323908,-0.001429,-0.024934,0.000150,0.427100,0.371124,-0.018565,-0.016616,-0.000014,-0.323969,-5436.276569,0.168970,1.615001e-06,1.452073e-06,1.117349,1281.855923,1.299569e-06,0.302447,0.302447,62.813535,-0.302447,0.408835,0.000356,-515.019089,0.000319,-460.929486,-0.401776,2.021739,51750.0,-271.653543,1.112204,-35391.0,-271.653543,0.002625,12535.0
174814,1,0,1,0,247500.0,1281712.5,48946.5,1179000.0,0.006852,-14778,-1141.0,-1610.0,-4546,11.0,1,1,0,1,0,1,1.0,3,3,10,0,0,0,0,0,0,0.430827,0.425351,0.712155,0.0753,0.0568,0.9970,0.9592,0.1326,0.08,0.0517,0.4167,0.2917,0.0735,0.0601,0.0844,0.0058,0.1118,0.0756,0.0566,0.9940,...,0.130504,3.423470,0.425351,0.712155,0.522778,0.430827,0.017937,0.077209,0.193101,247500.0,0.197764,0.038188,1.087118,-216.914987,-16.747868,0.307619,-0.000744,-0.009641,0.072473,0.522778,0.164029,-0.010648,-0.010513,-0.017601,-0.137914,-2708.105716,0.430827,3.654174e-07,3.361339e-07,1.012875,0.604962,3.318611e-07,0.141784,0.141784,62.076842,-0.000397,0.183253,0.306816,-491.573685,0.302916,-485.324946,-812.569032,4.763636,247500.0,-216.914987,1.087118,-28321.5,-216.914987,0.938650,13637.0
179486,1,0,0,0,202500.0,495000.0,39109.5,495000.0,0.035792,-17907,-639.0,-2507.0,-1461,4.0,1,1,1,1,0,0,2.0,2,2,16,0,0,0,0,0,0,0.527239,0.531760,0.207964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.058306,2.210131,0.207964,0.531760,0.422321,0.527239,0.022978,0.035684,0.409091,101250.0,0.193133,0.079009,1.000000,-316.901408,-11.308427,0.081588,-0.000223,-0.006260,0.080136,0.422321,0.185652,-0.010754,-0.010846,-0.004242,-0.301368,-5020.489885,0.263620,1.065129e-06,1.065129e-06,0.991498,2.535240,1.074263e-06,0.265880,0.265880,14.856951,-0.000371,0.280365,0.109647,-336.905777,0.110587,-339.794638,-132.889107,2.444444,101250.0,-316.901408,1.000000,-22234.5,-316.901408,2.245696,17268.0
57038,1,1,1,0,247500.0,254700.0,24939.0,225000.0,0.046220,-19626,-6982.0,-11167.0,-3158,NaN,1,1,0,1,0,0,1.0,1,1,14,0,0,0,0,0,0,NaN,0.693521,0.614414,0.1320,0.0645,0.9846,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1628,NaN,0.0022,0.1345,0.0670,0.9846,...,NaN,NaN,0.614414,0.693521,0.653968,0.653968,0.001564,0.355753,0.971731,247500.0,0.100764,0.097915,1.132000,-35.448296,-12.610822,0.160909,NaN,NaN,0.101906,0.653968,0.055937,NaN,-0.012907,-0.011435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.722892e-06,0.693521,0.693521,15.004773,-0.000347,NaN,NaN,NaN,0.426109,-4842.161021,-4289.841184,0.909091,247500.0,-35.448296,1.132000,-4314.0,-35.448296,0.286451,12644.0
25672,0,1,1,0,112500.0,308133.0,15862.5,234000.0,0.018850,-20327,-1105.0,-7299.0,-494,NaN,1,1,0,1,0,0,1.0,2,2,11,0,0,0,0,0,0,0.654882,0.560690,0.636376,0.0619,0.0553,0.9717,NaN,NaN,0.00,0.1724,0.1667,NaN,0.0866,NaN,0.0749,NaN,0.0149,0.0630,0.0574,0.9717,...,0.233668,3.779581,0.560690,0.654882,0.617316,0.636376,0.001660,0.054361,0.365102,112500.0,0.141000,0.051479,1.316808,-101.809955,-5.534511,0.024303,NaN,NaN,0.008511,0.617316,0.049905,-0.011767,-0.010075,-0.011435,-0.216466,-7463.778004,0.654882,2.798639e-06,2.125321e-06,1.167992,1.029079,1.819636e-06,0.280345,0.280345,29.744820,-0.003241,0.367185,0.416751,-723.644062,0.356810,-619.562295,-703.195669,2.080000,112500.0,-101.809955,1.316808,-6487.5,-101.809955,0.156561,19222.0
302672,0,1,1,0,85500.0,152820.0,16456.5,135000.0,0.006629,-19130,NaN,-8549.0,-959,NaN,1,0,0,1,1,0,2.0,2,2,6,0,0,0,0,0,0,NaN,0.519127,0.104795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.104795,0.519127,0.311961,0.311961,0.042918,NaN,0.559482,42750.0,0.192474,0.107686,1.132000,NaN,-4.469420,0.050131,NaN,NaN,0.052849,0.311961,0.292977,NaN,-0.009912,-0.002001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.396981e-06,0.259563,0.259563,78.311462,-0.000513,NaN,NaN,NaN,0.054402,NaN,NaN,1.578947,42750.0,NaN,1.132000,-9331.5,NaN,NaN,NaN
90463,1,1,0,1,112500.0,900000.0,24750.0,900000.0,0.015221,-15722,-345.0,-492.0,-4672,NaN,1,1,0,1,1,0,3.0,2,2,12,0,0,0,1,0,1,0.714067,0.547963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.547963,0.714067,0.631015,0.631015,0.006898,0.021944,0.125000,37500.0,0.220000,0.027500,1.000000,-326.086957,-7.155578,0.297163,NaN,NaN,0.027986,0.631015,0.117453,-0.016589,-0.012730,NaN,-0.755980,-6151.735581,0.238022,7.934077e-07,7.934077e-07,1.303131,NaN,6.088474e-07,0.273981,0.273981,36.000436,-0.001245,0.391282,NaN,-246.353092,NaN,-189.047109,NaN,8.000000,37500.0,-326.086957,1.000000,-15375.0,-326.086957,1.275362,15377.0
178370,0,0,1,0,141606.0,810000.0,33120.0,810000.0,0.018801,-10801,-260.0,-263.0,-3152,12.0,1,1,1,1,0,0,1.0,2,2,10,0,0,0,0,0,0,NaN,0.012588,0.490258,0.0825,0.0880,0.9747,0.6532,0.0629,0.00,0.1379,0.1667,0.2083,0.0824,0.0672,0.0709,0.0000,0.0000,0.0840,0.0913,0.9747,...,NaN,NaN,0.012588,0.490258,0.251423,0.251423,0.057042,0.024072,0.174822,141606.0,0.233888,0.040889,1.000000,-544.638462,-13.110453,0.291825,-0.001111,-0.046154,0.020554,0.251423,0.337764,NaN,-0.000426,-0.016579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.554020e-08,0.006294,0.006294,0.669516,-0.000057,NaN,NaN,NaN,0.006171,-3.272767,-127.466953,5.720097,141606.0,-544.638462,1.000000,-21319.5,-544.638462,0.853846,10541.0
7865,1,1,1,0,130500.0,781920.0,34443.0,675000.0,0.022800,-23516,NaN,-1663.0,-4763,NaN,1,0,0,1,0,0,2.0,2,2,8,0,0,0,0,0,0,NaN,0.077535,0.633032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.077535,0.633032,0.355283,0.355283,0.077144,NaN,0.166897,65250.0,0.263931,0.044049,1.158400,NaN,-5.549413,0.202543,NaN,NaN,NaN,0.355283,0.392796,NaN,-0.001204,-0.009832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.915965e-08,0.038767,0.038767,3.400654,NaN,NaN,NaN,NaN,0.049082,NaN,NaN,5.172414,65250.0,NaN,1.158400,-23568.0,NaN,NaN,NaN
185100,1,1,1,1,99000.0,900000.0,35824.5,900000.0,0.026392,-8755,-649.0,-8733.0,-1436,NaN,1,1,0,1,0,0,2.0,2,2,14,0,0,0,0,0,0,NaN,0.740082,NaN,0.0804,0.0609,0.9762,NaN,NaN,0.00,0.1379,0.1667,NaN,0.0697,NaN,0.0608,NaN,0.0000,0.0819,0.0632,0.9762,...,NaN,NaN,0.740082,0.740082,0.740082,0.740082,0.000000,0.074129,0.110000,49500.0,0.361864,0.039805,1.000000,-152.542373,-11.307824,0.164021,NaN,NaN,NaN,0.740082,0.151762,NaN,-0.030875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.223130e-07,0.370041,0.370041,28.041895,NaN,NaN,NaN,NaN,NaN,-480.313021,NaN,9.090909,49500.0,-152.542373,1.000000,-27574.5,-152.542373,NaN,8106.0
21805,1,1,0,4,67500.0,331920.0,17077.5,225000.0,0.006305,-13280,-280.0,-3471.0,-4880,NaN,1,1,1,1,0,0,6.0,3,3,9,0,0,0,0,0,0,0.345717,0.412734,0.639708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.091279,3.023292,0.345717,0.639708,0.466053,0.412734,0.015826,0.021084,0.203362,11250.0,0.253000,0.051451,1.475200,-241.071429,-5.082831,0.367470,NaN,NaN,0.071988,0.466053,0.154077,-0.009509,-0.011352,-0.017594,-0.450976,-1894.915029,0.057620,1.536521e-06,1.041568e-06,0.837626,0.540430,1.243476e-06,0.137578,0.137578,65.461446,-0.000432,0.142689,0.221158,-96.800815,0.264029,-115.565637,-179.118119,3.333333,11250.0,-241.071429,1.475200,-11452.5,-241.071429,3.414286,13000.0
242167,0,0,1,0,135000.0,225000.0,11074.5,225000.0,0.022800,-8438,-809.0,-3232.0,-838,2.0,1,1,0,1,0,0,2.0,2,2,15,0,0,0,0,0,0,NaN,0.453070,0.243186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.243186,0.453070,0.348128,0.348128,0.011013,0.095876,0.600000,67500.0,0.082033,0.049220,1.000000,-166.872682,-15.999052,0.099313,-0.000237,-0.002472,0.065774,0.348128,0.148410,NaN,-0.019612,-0.010527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.013646e-06,0.226535,0.226535,19.871511,-0.000816,NaN,NaN,NaN,0.110181,-366.533998,-196.737863,1.666667,67500.0,-166.872682,1.000000,175.5,-166.872682,0.686032,7629.0
16895,1,1,0,0,270000.0,593010.0,17122.5,495000.0,0.005144,-22532,NaN,-10231.0,-4226,NaN,1,0,0,1,0,0,1.0,2,2,11,0,0,0,0,0,0,NaN,0.574664,0.180888,0.0155,0.0193,0.9861,0.8096,0.0022,0.00,0.0345,0.1667,NaN,0.0054,0.0126,0.0151,0.0000,0.0000,0.0158,0.0200,0.9861,...,NaN,NaN,0.180888,0.574664,0.377776,0.377776,0.038765,NaN,0.455304,270000.0,0.063417,0.028874,1.198000,NaN,-11.982958,0.187555,NaN,NaN,0.048908,0.377776,0.278442,NaN,-0.009315,-0.002932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.690627e-07,0.287332,0.287332,111.715368,-0.000521,NaN,NaN,NaN,0.103950,NaN,NaN,1.833333,270000.0,NaN,1.198000,5377.5,NaN,NaN,NaN
306042,0,0,1,2,630000.0,1125000.0,36292.5,1125000.0,0.014520,-16758,-1093.0,-80.0,-290,3.0,1,1,0,1,0,0,4.0,2,2,15,0,0,0,0,0,0,NaN,0.622996,0.332851,0.0546,0.0976,0.9891,0.8504,0.0364,0.00,0.1034,0.1667,0.0417,0.0856,0.0429,0.0599,0.0077,0.0094,0.0557,0.1013,0.9891,...,NaN,NaN,0.332851,0.622996,0.477923,0.477923,0.021046,0.065223,0.560000,157500.0,0.057607,0.032260,1.000000,-576.395242,-37.593985,0.017305,-0.000179,-0.002745,0.042965,0.477923,0.205164,NaN,-0.013579,-0.007255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.537742e-07,0.311498,0.311498,42.906056,-0.000865,NaN,NaN,NaN,0.207365,-680.934559,-363.805667,1.785714,157500.0,-576.395242,1.000000,16207.5,-576.395242,0.658737,15665.0
48333,0,0,0,0,180000.0,774000.0,28813.5,774000.0,0.018029,-11214,-831.0,-615.0,-626,15.0,1,1,0,1,0,0,1.0,3,3,5,0,0,0,0,1,1,0.369833,0.512841,0.221335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.041980,1.916513,0.221335,0.512841,0.368003,0.369833,0.014164,0.074104,0.232558,180000.0,0.160075,0.037227,1.000000,-216.606498,-16.051364,0.055823,-0.001338,-0.018051,0.005975,0.368003,0.145761,-0.012046,-0.016704,-0.007209,-0.162553,-2126.910500,0.369833,4.778209e-07,4.778209e-07,0.721147,1.670920,6.625850e-07,0.170947,0.170947,28.445327,-0.007654,0.189666,0.081857,-307.331532,0.113510,-426.170702,-183.929556,4.300000,180000.0,-216.606498,1.000000,-13813.5,-216.606498,0.080626,10383.0
16123,1,1,1,1,112500.0,142200.0,9387.0,112500.0,0.022625,-10213,-2189.0,-4426.0,-2097,NaN,1,1,0,1,0,0,3.0,2,2,11,0,0,0,1,1,1,NaN,0.244008,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.244008,0.272134,0.258071,0.258071,0.000198,0.214335,0.791139,37500.0,0.083440,0.066013,1.264000,-51.393330,-11.015373,0.205327,NaN,NaN,NaN,0.258071,0.019888,NaN,-0.008727,-0.009732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.715948e-06,0.122004,0.122004,10.784876,NaN,NaN,NaN,NaN,0.066403,-534.133120,-595.700635,1.000000,37500.0,-51.393330,1.264000,-12.0,-51.393330,NaN,8024.0
128104,1,0,1,0,256500.0,765000.0,38250.0,765000.0,0.032561,-22488,-6928.0,-12499.0,-4074,30.0,1,1,0,1,1,0,2.0,1,1,17,0,0,0,0,0,0,NaN,0.783828,0.678568,0.3320,0.2167,0.9781,0.7008,0.0616,0.36,0.3103,0.3333,0.3750,0.1463,0.2707,0.3231,0.0000,0.0000,0.3382,0.2249,0.9782,...,NaN,NaN,0.678568,0.783828,0.731198,0.731198,0.002770,0.308075,0.335294,128250.0,0.149123,0.050000,1.000000,-37.023672,-11.406083,0.181163,-0.001334,-0.004330,0.084890,0.731198,0.074431,NaN,-0.012731,-0.011021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.024612e-06,0.783828,0.783828,24.072614,-0.000411,NaN,NaN,NaN,0.531881,-5430.363028,-4701.116947,2.982456,128250.0,-37.023672,1.000000,-16875.0,-37.023672,0.275548,15560.0
103111,1,1,1,0,45000.0,454500.0,17739.0,454500.0,0.030755,-12178,-931.0,-2948.0,-4449,NaN,1,1,0,1,0,0,2.0,2,2,9,0,0,0,0,1,1,NaN,0.142871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.142871,0.142871,0.142871,0.142871,0.000000,0.076449,0.099010,22500.0,0.394200,0.039030,1.000000,-48.335124,-3.695188,0.365331,NaN,NaN,0.040729,0.142871,0.151762,NaN,-0.004285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.143474e-07,0.071435,0.071435,4.645452,-0.000288,NaN,NaN,NaN,NaN,-133.012796,NaN,10.100000,22500.0,-48.335124,1.000000,-13989.0,-48.335124,0.532760,11247.0
223972,1,1,1,0,292500.0,781920.0,33259.5,675000.0,0.020246,-22634,NaN,-9895.0,-4192,NaN,1,0,0,1,1,0,2.0,3,3,11,0,0,0,0,0,0,0.352553,0.540488,NaN,0.1010,0.0958,0.9722,0.6192,0.0249,0.00,0.0690,0.1250,0.1667,0.0730,0.0815,0.0336,0.0039,0.1121,0.1029,0.0994,0.9722,...,NaN,NaN,0.352553,0.540488,0.446520,0.446520,0.008830,NaN,0.374079,146250.0,0.113708,0.042536,1.158400,NaN,-12.923036,0.185208,NaN,NaN,0.052620,0.446520,0.132891,-0.005689,-0.008722,NaN,NaN,-4312.921519,0.176276,5.223001e-07,4.508806e-07,0.652285,NaN,6.912323e-07,0.180163,0.180163,26.696055,-0.000454,0.190551,NaN,NaN,NaN,NaN,NaN,2.307692,146250.0,NaN,1.158400,-8884.5,NaN,NaN,NaN
10375,1,1,1,0,157500.0,824823.0,24246.0,688500.0,0.016612,-23476,NaN,-3955.0,-4466,NaN,1,0,0,1,0,0,2.0,2,2,13,0,0,0,0,0,0,0.873912,0.657271,0.403142,0.0247,0.0556,0.9757,0.6668,0.0010,0.00,0.0690,0.0833,0.0417,0.0275,0.0202,0.0187,0.0000,0.0000,0.0252,0.0577,0.9757,...,0.231563,3.614520,0.403142,0.873912,0.644775,0.657271,0.037015,NaN,0.190950,78750.0,0.153943,0.029395,1.198000,NaN,-6.708979,0.190237,NaN,NaN,0.026325,0.644775,0.235634,-0.013597,-0.010226,-0.006272,NaN,-13484.549737,0.436956,1.269298e-06,1.059514e-06,1.329605,2.167753,7.968637e-07,0.328636,0.328636,39.566066,-0.001064,0.574397,0.352310,NaN,0.264974,NaN,NaN,4.371429,78750.0,NaN,1.198000,-11121.0,NaN,NaN,NaN

In [19]:
app_test_clean.isnull().sum().sort_values(ascending=False) / len(app_test_clean)

COMMONAREA_MEDI                          0.698107
COMMONAREA_AVG                           0.698107
COMMONAREA_MODE                          0.698107
CAR_TO_EMPLOYED_RATIO                    0.695343
NONLIVINGAPARTMENTS_AVG                  0.693392
                                           ...
OBS_30_CNT_SOCIAL_CIRCLE_missing_flag    0.000000
EMERGENCYSTATE_MODE_missing_flag         0.000000
WALLSMATERIAL_MODE_missing_flag          0.000000
TOTALAREA_MODE_missing_flag              0.000000
NAME_INCOME_TYPE_Businessman             0.000000
Length: 370, dtype: float64

In [20]:
# drop columns with more than 50% missing values
app_test_clean = app_test_clean.drop(cols_missing_50, axis=1)
app_test_clean.isnull().sum().sort_values(ascending=False) / len(app_test_clean)

FLOORSMAX_AVG                            0.495707
FLOORSMAX_MODE                           0.495707
FLOORSMAX_MEDI                           0.495707
YEARS_BEGINEXPLUATATION_AVG              0.486570
YEARS_BEGINEXPLUATATION_MODE             0.486570
                                           ...
HOUSETYPE_MODE_missing_flag              0.000000
FONDKAPREMONT_MODE_missing_flag          0.000000
NONLIVINGAREA_MEDI_missing_flag          0.000000
NONLIVINGAPARTMENTS_MEDI_missing_flag    0.000000
NAME_EDUCATION_TYPE_Incomplete higher    0.000000
Length: 317, dtype: float64

In [21]:
selected_features.remove('TARGET')
app_test_clean = app_test_clean[selected_features]
app_test_clean.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,EXT_SOURCE_3,FLOORSMAX_AVG,FLOORSMAX_MODE,FLOORSMAX_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,OWN_CAR_AGE_missing_flag,OCCUPATION_TYPE_missing_flag,EXT_SOURCE_1_missing_flag,EXT_SOURCE_3_missing_flag,...,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Kindergarten,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Security,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Trade: type 3,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_nan,FONDKAPREMONT_MODE_org spec account,FONDKAPREMONT_MODE_reg oper account,FONDKAPREMONT_MODE_reg oper spec account,FONDKAPREMONT_MODE_nan,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_nan,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WALLSMATERIAL_MODE_nan,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_nan,DOCUMENT_COUNT,NEW_DOC_KURT,AGE_RANGE,EXT_SOURCES_MIN,EXT_SOURCES_MAX,EXT_SOURCES_MEAN,EXT_SOURCES_NANMEDIAN,DAYS_EMPLOYED_PERC,INCOME_CREDIT_PERC,INCOME_PER_PERSON,CREDIT_TO_GOODS_RATIO,INCOME_TO_BIRTH_RATIO,ID_TO_BIRTH_RATIO,APPS_EXT_SOURCE_MEAN,APP_SCORE2_TO_REGION_RATING_RATIO,APP_SCORE2_TO_CITY_RATING_RATIO,APP_SCORE2_TO_POP_RATIO,APP_EXT_SOURCE_2*EXT_SOURCE_3,APP_EXT_SOURCE_2*DAYS_EMPLOYED,APP_EXT_SOURCE_3*DAYS_EMPLOYED,APPS_GOODS_INCOME_RATIO,APPS_CNT_FAM_INCOME_RATIO,CREDIT_TO_GOODS_RATIO_2,APP_AMT_INCOME_TOTAL_12_AMT_ANNUITY_ratio,APP_DAYS_EMPLOYED_DAYS_BIRTH_diff
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
83659,0,0,0,2,207000.0,465457.5,52641.0,418500.0,-13297,-762.0,-637.0,-4307,1,0,0,0,4.0,2,2,11,0,0,0,0,1,1,0.604894,0.000527,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-2.0,1,0,0,0,0.0,0.0,1.0,0.0,1.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True,False,True,1,20.0,2,0.000527,0.675878,0.427100,0.604894,0.057306,0.444724,51750.0,1.112204,-15.567421,0.323908,0.427100,0.302447,0.302447,62.813535,0.000319,-460.929486,-0.401776,2.021739,51750.0,1.112204,-35391.0,12535.0
174814,1,0,1,0,247500.0,1281712.5,48946.5,1179000.0,-14778,-1141.0,-1610.0,-4546,1,0,0,1,1.0,3,3,10,0,0,0,0,0,0,0.425351,0.712155,0.4167,0.3333,0.4167,0.0754,2.0,0.0,2.0,0.0,-1071.0,1,0,0,0,0.0,0.0,1.0,0.0,3.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,1,20.0,3,0.425351,0.712155,0.522778,0.430827,0.077209,0.193101,247500.0,1.087118,-16.747868,0.307619,0.522778,0.141784,0.141784,62.076842,0.302916,-485.324946,-812.569032,4.763636,247500.0,1.087118,-28321.5,13637.0
179486,1,0,0,0,202500.0,495000.0,39109.5,495000.0,-17907,-639.0,-2507.0,-1461,1,1,0,0,2.0,2,2,16,0,0,0,0,0,0,0.531760,0.207964,NaN,NaN,NaN,NaN,5.0,0.0,5.0,0.0,-1435.0,1,0,0,0,0.0,0.0,1.0,0.0,3.0,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,True,False,False,False,False,True,False,True,1,20.0,3,0.207964,0.531760,0.422321,0.527239,0.035684,0.409091,101250.0,1.000000,-11.308427,0.081588,0.422321,0.265880,0.265880,14.856951,0.110587,-339.794638,-132.889107,2.444444,101250.0,1.000000,-22234.5,17268.0
57038,1,1,1,0,247500.0,254700.0,24939.0,225000.0,-19626,-6982.0,-11167.0,-3158,1,0,0,0,1.0,1,1,14,0,0,0,0,0,0,0.693521,0.614414,0.6250,0.6250,0.6250,0.1285,0.0,0.0,0.0,0.0,-2000.0,1,0,0,0,0.0,0.0,0.0,0.0,0.0,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,True,False,1,20.0,4,0.614414,0.693521,0.653968,0.653968,0.355753,0.971731,247500.0,1.132000,-12.610822,0.160909,0.653968,0.693521,0.693521,15.004773,0.426109,-4842.161021,-4289.841184,0.909091,247500.0,1.132000,-4314.0,12644.0
25672,0,1,1,0,112500.0,308133.0,15862.5,234000.0,-20327,-1105.0,-7299.0,-494,1,0,0,0,1.0,2,2,11,0,0,0,0,0,0,0.560690,0.636376,0.1667,0.1667,0.1667,0.0765,0.0,0.0,0.0,0.0,-173.0,1,0,0,0,0.0,0.0,0.0,0.0,4.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,True,False,1,20.0,4,0.560690,0.654882,0.617316,0.636376,0.054361,0.365102,112500.0,1.316808,-5.534511,0.024303,0.617316,0.280345,0.280345,29.744820,0.356810,-619.562295,-703.195669,2.080000,112500.0,1.316808,-6487.5,19222.0

In [22]:
# reorder columns to match train
app_test_clean = app_test_clean[X.columns]


app_test_clean.to_csv('processed-data/processed_application_test.csv')

In [23]:
# replace inf values with nan
X_test = app_test_clean.replace([np.inf, -np.inf], np.nan)

# robust scaler
X_test = robust_scaler.transform(X_test)

# scale values
X_test = minmax_scaler.transform(X_test)

# fill missing values with median
X_test = imputer.transform(X_test)

# predict
y_pred = logreg.predict_proba(X_test)[:, 1]

# submission
submission = pd.DataFrame({'SK_ID_CURR': app_test_clean.index, 'TARGET': y_pred})

In [24]:
submission.set_index('SK_ID_CURR', inplace=True)
submission.sort_index(inplace=True)
submission.head(10)

              TARGET
SK_ID_CURR
5           0.375056
13          0.756382
16          0.492746
19          0.823665
25          0.509694
30          0.244765
43          0.158083
44          0.508947
53          0.438456
55          0.347231

In [25]:
submission.to_csv('submission.csv')