In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
previous = pd.read_csv('../raw-data/dseb63_previous_application.csv')
previous.head()

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,...,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
0,2030495,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,...,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0,293189
1,1696966,Consumer loans,68258.655,1800000.0,1754721.0,180000.0,1800000.0,SATURDAY,18,Y,...,36.0,low_normal,POS industry with interest,NaN,NaN,NaN,NaN,NaN,NaN,293189
2,2154916,Consumer loans,12417.390,108400.5,119848.5,0.0,108400.5,SUNDAY,14,Y,...,12.0,middle,POS industry with interest,365243.0,-512.0,-182.0,-392.0,-387.0,0.0,293189
3,2802425,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,...,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0,91587
4,1536272,Cash loans,21709.125,450000.0,512370.0,NaN,450000.0,WEDNESDAY,9,Y,...,36.0,low_normal,Cash X-Sell: low,365243.0,-485.0,565.0,-155.0,-147.0,1.0,91587

In [4]:
previous.sort_values('SK_ID_PREV', inplace=True)
previous.reset_index(drop=True, inplace=True)
previous.head()

,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,...,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL,SK_ID_CURR
0,1000001,Consumer loans,6404.310,58905.000,65124.0,0.000,58905.000,THURSDAY,8,Y,...,12.0,middle,POS industry with interest,365243.0,-268.0,62.0,-238.0,-233.0,0.0,117953
1,1000003,Consumer loans,4951.350,47056.275,52641.0,4.275,47056.275,SUNDAY,13,Y,...,12.0,low_action,POS household without interest,365243.0,-94.0,236.0,365243.0,365243.0,1.0,6707
2,1000004,Consumer loans,3391.110,35144.370,30586.5,7032.870,35144.370,THURSDAY,9,Y,...,10.0,low_normal,POS household without interest,365243.0,-862.0,-592.0,-682.0,-672.0,0.0,187620
3,1000005,Consumer loans,14713.605,123486.075,120307.5,12349.575,123486.075,THURSDAY,13,Y,...,10.0,middle,POS industry with interest,365243.0,-1688.0,-1418.0,-1418.0,-1415.0,0.0,83759
4,1000007,Consumer loans,11246.805,78570.000,62856.0,15714.000,78570.000,SUNDAY,13,Y,...,6.0,low_normal,POS household with interest,365243.0,-123.0,27.0,365243.0,365243.0,0.0,25033

In [6]:
previous['SK_ID_PREV'].nunique() == len(previous)

True